<h1>Hola {{ person.name }}, te doy la bienvenida a {{ title }}</h1>
<!-- strinng interpolacion, para ingresar contenido -->
<h4>Continua hacia abajo... ⤵ </h4>
<img [src]="person.avatar" alt="Imagen Unsplash">

<!-- Property Binding, pasarle props que estan en el componente a los atributos, es mejor property binding para atributos -->
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>

<!-- Event binding -->
<button (click)="toggleButton()">Toggle</button>
<button (click)="increaseAge()" [disabled]="btnDisabled">Aumentar edad</button>

