<h1>Hola {{ person.name }}, te doy la bienvenida a {{ title }}</h1>
<!-- strinng interpolacion, para ingresar contenido -->
<h4>Continua hacia abajo... ⤵ </h4>
<img [src]="person.avatar" alt="Imagen Unsplash">

<!-- Property Binding, pasarle props que estan en el componente a los atributos, es mejor property binding para atributos -->
<label for="cambiar">Cambia tu nombre aqui: </label>
<input id="cambiar" type="text" [value]="person.name" (keyup)="changeName($event)">
<progress max="100" [value]="person.age"></progress>

<!-- Event binding -->
<button (click)="toggleButton()">Toggle</button>
<button (click)="increaseAge()" [disabled]="btnDisabled">Aumentar edad</button>

<!-- $ para enviar eventos nativos del dom -->
<div class="box" (scroll)="onScroll($event)">
  <p>El deporte nos mantiene en forma. Te mantiene atento. Nos une. A través del deporte podemos cambiar vidas. Ya sea a través de historias de atletas inspiradores. Animándote a ponerte en marcha. Ofreciéndote artículos deportivos con las últimas tecnologías para mejorar tu rendimiento. Supera tu mejor marca personal. adidas es el hogar del corredor, del jugador de básquet, del joven futbolista y del entusiasta del fitness. Del aventurero que escapa de la ciudad los fines de semana. De la instructora de yoga que enseña nuevas posturas. Las 3 Franjas se ven en el mundo de la música. En el escenario, en los festivales. Nuestra ropa deportiva para mujer y para hombre te mantiene concentrado antes de que suene el silbato. Durante la carrera. Y en la línea de meta. Estamos aquí para apoyar a los creadores. Mejorar su juego. Sus vidas. Y cambiar el mundo. </p>
</div>

<!-- Escuchar y enviar al componente los valores y desde el componente setear la propiedad -->
<!-- ngModel -->
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }}</p>
<input type="number" min="18" max="28" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }}</p>


<!-- ngIf -->
<input type="text" required [(ngModel)]="person.age">
<p *ngIf="person.age < 18; else mayorEdad">Mi contenido Basic</p>
<ng-template #mayorEdad>
  <h3>{{ vipContent[0].name }}</h3>
  <img [src]="vipContent[0].img" alt="">
</ng-template>

<!-- ngFor -->
<input type="text" [(ngModel)]="nuevoNombre" required>
<button (click)="agregarNombre()">Agregar nombre</button>
<ul>
  <li *ngIf="nombres.length == 0">No hay nombres</li>
  <li *ngFor="let nombre of nombres;index as i">{{ i + 1 }} = {{ nombre }} <button (click)="borrarNombre(i)">Borrar</button></li>
</ul>

<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="imagen del producto">
    <h2>{{ product.name }}</h2>
    <h4>{{ product.price }}</h4>
  </div>
</div>


<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'alexis'">Programador</p>
  <p *ngSwitchCase="'martha'">Biotecnologa</p>
  <p *ngSwitchDefault>No hay coincidencias</p>

</div>

<h3>Clases y estilos</h3>
<input type="text" required #clasesEstilos="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalido]="clasesEstilos.invalid">El campo es requerido</p>

<label for="">Carrera</label>
<input type="text" [(ngModel)]="person.carrera" required #carreraInput="ngModel">
<p [style.font-style]="carreraInput.invalid ? 'italic' : 'normal'">Programador</p>

<div class="imgWidth">
  <div>
    <input type="text" [(ngModel)]="width">
  </div>
  <div>
    <img [src]="person.avatar" [style.width.px]="width" alt="">
  </div>
</div>

<!-- ngClass y ngStyle -->

<input type="text" [(ngModel)]="person.carrera" required #carreraInput="ngModel">
<hr class="line-error" [ngClass]="{
  'valid': carreraInput.valid,
  'invalid': carreraInput.invalid
}">

<div class="imgWidth">
  <div>
    <input max="200" type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.heigth">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px' : box.width,
      'height.px' : box.heigth,
      'background' : box.background,
      'display' : 'block'
    }"></div>
  </div>
</div>

<h3>Formulario</h3>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre:</label>
    <input type="text" required [(ngModel)]="register.name" id="name" name="name">
  </div>
  <div class="input-group">
    <label for="email">Email:</label>
    <input type="email" required [(ngModel)]="register.email" id="email" name="email">
  </div>
  <div class="input-group">
    <label for="password">Password:</label>
    <input type="password" required [(ngModel)]="register.password" id="password" name="password">
  </div>

  <button type="submit" [disabled]="myForm.invalid">Registrar</button>
</form>
